# Data Exploration

In [1]:
import pandas as pd

In [2]:
# Read in data
commissions = pd.read_csv('data/commissions.csv', parse_dates = ['date'], index_col=['date', 'vendor_id'])
order_lines = pd.read_csv('data/order_lines.csv', index_col=['order_id', 'product_id'])
orders = pd.read_csv('data/orders.csv',  parse_dates = ['created_at'], index_col='id')
product_promotions = pd.read_csv('data/product_promotions.csv', parse_dates = ['date'], index_col=['date', 'product_id'])
products = pd.read_csv('data/products.csv', index_col='id')
promotions = pd.read_csv('data/promotions.csv', index_col='id')

In [3]:
order_lines.isnull().any()

product_description    False
product_price          False
product_vat_rate       False
discount_rate          False
quantity               False
full_price_amount      False
discounted_amount      False
vat_amount             False
total_amount           False
dtype: bool

In [4]:
test = order_lines[(order_lines.index.get_level_values('order_id') >= 2) & (order_lines.index.get_level_values('order_id') <= 10) ]
test['quantity'].sum()

2895

In [5]:
orders.head()

                   created_at  vendor_id  customer_id
id
2  2019-08-01 18:43:57.052767          3         1398
3  2019-08-01 11:51:07.349383          2         7449
4  2019-08-01 15:26:46.084807          5         7082
5  2019-08-01 03:34:05.665990          5         5727
6  2019-08-01 16:30:57.126590          5         5281

In [6]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 438 entries, 2 to 439
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   created_at   438 non-null    datetime64[ns]
 1   vendor_id    438 non-null    int64
 2   customer_id  438 non-null    int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 13.7 KB

In [7]:
products.head()

   description
id
1     Oréos 2X
2    Škoda 3Tr
3     Oréos 4X
4    Škoda 6Tr
5    Škoda 7Tr

In [8]:
order_day = orders[orders['created_at'].dt.strftime('%Y-%m-%d') == '2019-08-02']
order_day

                   created_at  vendor_id  customer_id
id
11 2019-08-02 01:20:59.124548          9         5405
12 2019-08-02 19:23:56.135468          6         4212
13 2019-08-02 21:03:47.395720          9         4478
14 2019-08-02 21:49:39.176606          4         3250
15 2019-08-02 22:29:26.731292          2         4014
16 2019-08-02 11:19:59.721380          8          408
17 2019-08-02 12:02:30.370169          1         9593
18 2019-08-02 11:54:15.391115          4         5456
19 2019-08-02 23:13:07.183946          5         4742
20 2019-08-02 01:01:55.866474          4         8310

In [19]:
test_order = order_lines.merge(orders, left_on='order_id', right_index=True)\
                .merge(products, left_on='product_id', right_index=True)
test_order.head()

,,product_description,product_price,product_vat_rate,discount_rate,quantity,full_price_amount,discounted_amount,vat_amount,total_amount,created_at,vendor_id,customer_id,description
order_id,product_id,,,,,,,,,,,,,
2,794,IBM 032,21873,0.11,0.000000,49,1071777,1.071777e+06,117895.470000,1.189672e+06,2019-08-01 18:43:57.052767,3,1398,IBM 032
6,794,IBM 032,19050,0.11,0.388048,43,819150,5.012802e+05,55140.819282,5.564210e+05,2019-08-01 16:30:57.126590,5,5281,IBM 032
15,794,IBM 032,49138,0.20,0.000000,43,2112934,2.112934e+06,422586.800000,2.535521e+06,2019-08-02 22:29:26.731292,2,4014,IBM 032
146,794,IBM 032,46555,0.00,0.000000,11,512105,5.121050e+05,0.000000,5.121050e+05,2019-08-18 02:23:35.836475,1,9874,IBM 032
278,794,IBM 032,17948,0.20,0.423644,27,484596,2.793001e+05,55860.010010,3.351601e+05,2019-09-06 18:07:11.210956,8,7308,IBM 032

In [ ]:
# Order lines, orders and products
order_products = order_lines.merge(orders, left_on='order_id', right_index=True)
order_products = order_products.merge(products, left_on='product_id', right_index=True)
order_products.head()

In [17]:
# 1. Total number of items sold on a day
date_str = '2019-08-01'
day_orders = order_products[order_products['created_at'].dt.strftime('%Y-%m-%d') == date_str].sort_values(by=['order_id', 'product_id'])
num_items_sold = day_orders['quantity'].sum()
num_items_sold

,,product_description,product_price,product_vat_rate,discount_rate,quantity,full_price_amount,discounted_amount,vat_amount,total_amount,created_at,vendor_id,customer_id,description
order_id,product_id,,,,,,,,,,,,,
2,794,IBM 032,21873,0.11,0.000000,49,1071777,1.071777e+06,117895.470000,1.189672e+06,2019-08-01 18:43:57.052767,3,1398,IBM 032
6,794,IBM 032,19050,0.11,0.388048,43,819150,5.012802e+05,55140.819282,5.564210e+05,2019-08-01 16:30:57.126590,5,5281,IBM 032
15,794,IBM 032,49138,0.20,0.000000,43,2112934,2.112934e+06,422586.800000,2.535521e+06,2019-08-02 22:29:26.731292,2,4014,IBM 032
146,794,IBM 032,46555,0.00,0.000000,11,512105,5.121050e+05,0.000000,5.121050e+05,2019-08-18 02:23:35.836475,1,9874,IBM 032
278,794,IBM 032,17948,0.20,0.423644,27,484596,2.793001e+05,55860.010010,3.351601e+05,2019-09-06 18:07:11.210956,8,7308,IBM 032

In [224]:
# 1. Total number of items sold on a day
date_str = '2019-08-01'
day_orders = order_products[order_products['created_at'].dt.strftime('%Y-%m-%d') == date_str].sort_values(by=['order_id', 'product_id'])
num_items_sold = day_orders['quantity'].sum()
num_items_sold

2895

In [225]:
# 2. Total number of customers
unique_customers = pd.unique(day_orders['customer_id'])
unique_customers, len(unique_customers)

(array([1398, 7449, 7082, 5727, 5281, 9636, 5080, 3872, 4516]), 9)

In [226]:
# 3. Total maount of discount given on day
day_orders['discount_value'] = day_orders['full_price_amount'] - day_orders['discounted_amount']
total_discount = day_orders['discount_value'].sum()
total_discount

15152814.736907508

In [227]:
# 4. Average discount rate applied to items sold
average_discount = day_orders.loc[day_orders['discount_rate'] > 0, 'discount_rate'].mean()
average_discount

0.44574189572522194

In [228]:
# 5. Average order total for that day
total_day_revenue = day_orders['total_amount'].sum()
num_orders_for_day = day_orders['total_amount'].size
average_day_revenue = total_day_revenue / num_orders_for_day
average_day_revenue

1182286.0960463746

In [229]:
day_prod_promos = product_promotions[product_promotions.index.get_level_values('date') == date_str].reset_index()
day_prod_promos

        date  product_id  promotion_id
0 2019-08-01         572             3
1 2019-08-01         242             4
2 2019-08-01         416             2
3 2019-08-01         272             2
4 2019-08-01         126             3
5 2019-08-01         486             3
6 2019-08-01         227             2
7 2019-08-01         139             4
8 2019-08-01          98             3
9 2019-08-01         835             5

In [230]:
commissions.head()

                      rate
date       vendor_id
2019-08-01 1          0.29
           2          0.07
           3          0.27
           4          0.14
           5          0.05

In [231]:
day_commissions = commissions[commissions.index.get_level_values('date') == date_str].reset_index()
day_commissions

        date  vendor_id  rate
0 2019-08-01          1  0.29
1 2019-08-01          2  0.07
2 2019-08-01          3  0.27
3 2019-08-01          4  0.14
4 2019-08-01          5  0.05
5 2019-08-01          6  0.24
6 2019-08-01          7  0.29
7 2019-08-01          8  0.22
8 2019-08-01          9  0.24

In [232]:
day_orders.head()

                      product_description  product_price  product_vat_rate  \
order_id product_id
2        365                          QM3          33152              0.20
         417                          GS8          96066              0.11
         428                         XC60          76782              0.00
         462         Deskjet 610c / 610cl           1037              0.20
         477                 Deskjet 693c          38209              0.00

                     discount_rate  quantity  full_price_amount  \
order_id product_id
2        365              0.000000        11             364672
         417              0.000000        22            2113452
         428              0.000000        30            2303460
         462              0.522203        33              34221
         477              0.674717        28            1069852

                     discounted_amount     vat_amount  total_amount  \
order_id product_id
2        365              3.646720e+05   72934.400000  4.376064e+05
         417              2.113452e+06  232479.720000  2.345932e+06
         428              2.303460e+06       0.000000  2.303460e+06
         462              1.635069e+04    3270.137627  1.962083e+04
         477              3.480042e+05       0.000000  3.480042e+05

                                    created_at  vendor_id  customer_id  \
order_id product_id
2        365        2019-08-01 18:43:57.052767          3         1398
         417        2019-08-01 18:43:57.052767          3         1398
         428        2019-08-01 18:43:57.052767          3         1398
         462        2019-08-01 18:43:57.052767          3         1398
         477        2019-08-01 18:43:57.052767          3         1398

                            description_x         description_y  \
order_id product_id
2        365                          QM3                   QM3
         417                          GS8                   GS8
         428                         XC60                  XC60
         462         Deskjet 610c / 610cl  Deskjet 610c / 610cl
         477                 Deskjet 693c          Deskjet 693c

                     discount_value
order_id product_id
2        365               0.000000
         417               0.000000
         428               0.000000
         462           17870.311866
         477          721847.758224

In [233]:
# 6. Total amount of commissions for that day
day_orders_commissions = day_orders.reset_index()
# day_orders_commissions = day_orders.merge(day_prod_promos, how='left', left_on='product_id', right_on='product_id', suffixes=('_orders','_promos'))
day_orders_commissions = day_orders_commissions.merge(day_commissions, how='left', left_on='vendor_id', right_on='vendor_id', suffixes=('','_commissions'))
day_orders_commissions['commission_amount'] = day_orders_commissions['total_amount'] * day_orders_commissions['rate']
day_orders_commissions

,order_id,product_id,product_description,product_price,product_vat_rate,discount_rate,quantity,full_price_amount,discounted_amount,vat_amount,total_amount,created_at,vendor_id,customer_id,description_x,description_y,discount_value,date,rate,commission_amount
0,2,365,QM3,33152,0.20,0.000000,11,364672,3.646720e+05,72934.400000,4.376064e+05,2019-08-01 18:43:57.052767,3,1398,QM3,QM3,0.000000e+00,2019-08-01,0.27,118153.728000
1,2,417,GS8,96066,0.11,0.000000,22,2113452,2.113452e+06,232479.720000,2.345932e+06,2019-08-01 18:43:57.052767,3,1398,GS8,GS8,0.000000e+00,2019-08-01,0.27,633401.564400
2,2,428,XC60,76782,0.00,0.000000,30,2303460,2.303460e+06,0.000000,2.303460e+06,2019-08-01 18:43:57.052767,3,1398,XC60,XC60,0.000000e+00,2019-08-01,0.27,621934.200000
3,2,462,Deskjet 610c / 610cl,1037,0.20,0.522203,33,34221,1.635069e+04,3270.137627,1.962083e+04,2019-08-01 18:43:57.052767,3,1398,Deskjet 610c / 610cl,Deskjet 610c / 610cl,1.787031e+04,2019-08-01,0.27,5297.622955
4,2,477,Deskjet 693c,38209,0.00,0.674717,28,1069852,3.480042e+05,0.000000,3.480042e+05,2019-08-01 18:43:57.052767,3,1398,Deskjet 693c,Deskjet 693c,7.218478e+05,2019-08-01,0.27,93961.145280
5,2,480,Deskjet 697c,62009,0.00,0.000000,27,1674243,1.674243e+06,0.000000,1.674243e+06,2019-08-01 18:43:57.052767,3,1398,Deskjet 697c,Deskjet 697c,0.000000e+00,2019-08-01,0.27,452045.610000
6,2,517,Deskjet 960c / 960cse / 960cxi,77184,0.00,0.000000,3,231552,2.315520e+05,0.000000,2.315520e+05,2019-08-01 18:43:57.052767,3,1398,Deskjet 960c / 960cse / 960cxi,Deskjet 960c / 960cse / 960cxi,0.000000e+00,2019-08-01,0.27,62519.040000
7,2,521,Deskjet 995c / 995ck,47082,0.11,0.000000,20,941640,9.416400e+05,103580.400000,1.045220e+06,2019-08-01 18:43:57.052767,3,1398,Deskjet 995c / 995ck,Deskjet 995c / 995ck,0.000000e+00,2019-08-01,0.27,282209.508000
8,2,549,Deskjet 6620,13463,0.00,0.000000,26,350038,3.500380e+05,0.000000,3.500380e+05,2019-08-01 18:43:57.052767,3,1398,Deskjet 6620,Deskjet 6620,0.000000e+00,2019-08-01,0.27,94510.260000
9,2,580,Officejet 330,15927,0.11,0.000000,46,732642,7.326420e+05,80590.620000,8.132326e+05,2019-08-01 18:43:57.052767,3,1398,Officejet 330,Officejet 330,0.000000e+00,2019-08-01,0.27,219572.807400
10,2,589,Officejet 720,98827,0.00,0.042481,30,2964810,2.838862e+06,0.000000,2.838862e+06,2019-08-01 18:43:57.052767,3,1398,Officejet 720,Officejet 720,1.259484e+05,2019-08-01,0.27,766492.639539
11,2,590,Officejet 725,30347,0.00,0.485439,29,880063,4.528463e+05,0.000000,4.528463e+05,2019-08-01 18:43:57.052767,3,1398,Officejet 725,Officejet 725,4.272167e+05,2019-08-01,0.27,122268.500576
12,2,640,Officejet Pro 1170c / 1170cse / 1170cxi,61714,0.00,0.000000,35,2159990,2.159990e+06,0.000000,2.159990e+06,2019-08-01 18:43:57.052767,3,1398,Officejet Pro 1170c / 1170cse / 1170cxi,Officejet Pro 1170c / 1170cse / 1170cxi,0.000000e+00,2019-08-01,0.27,583197.300000
13,2,780,IBM 003,94046,0.20,0.761293,29,2727334,6.510325e+05,130206.500079,7.812390e+05,2019-08-01 18:43:57.052767,3,1398,IBM 003,IBM 003,2.076301e+06,2019-08-01,0.27,210934.530128
14,2,792,IBM 029,47535,0.11,0.000000,8,380280,3.802800e+05,41830.800000,4.221108e+05,2019-08-01 18:43:57.052767,3,1398,IBM 029,IBM 029,0.000000e+00,2019-08-01,0.27,113969.916000
15,2,794,IBM 032,21873,0.11,0.000000,49,1071777,1.071777e+06,117895.470000,1.189672e+06,2019-08-01 18:43:57.052767,3,1398,IBM 032,IBM 032,0.000000e+00,2019-08-01,0.27,321211.566900
16,2,822,MicroTAC Alpha,65335,0.00,0.000000,12,784020,7.840200e+05,0.000000,7.840200e+05,2019-08-01 18:43:57.052767,3,1398,MicroTAC Alpha,MicroTAC Alpha,0.000000e+00,2019-08-01,0.27,211685.400000
17,2,830,MicroTAC DPC Series,28791,0.00,0.786400,15,431865,9.224638e+04,0.000000,9.224638e+04,2019-08-01 18:43:57.052767,3,1398,MicroTAC DPC Series,MicroTAC DPC Series,3.396186e+05,2019-08-01,0.27,24906.523726
18,2,835,A388C (Accompli 388),55162,0.00,0.000000,50,2758100,2.758100e+06,0.000000,2.758100e+06,2019-08-01 18:43:57.052767,3,1398,A388C (Accompli 388),A388C (Accompli 388),0.000000e+00,2019-08-01,0.27,744687.000000
19,3,1,Oréos 2X,74802,0.00,0.000000,22,1645644,1.645644e+06,0.000000,1.645644e+06,2019-08-01 11:51:07.349383,2,7449,Oréos 2X,Oréos 2X,0.000000e+00,2019-08-01,0.07,115195.080000
20,3,164,Trax,54644,0.20,0.644854,28,1530032,5.433846e+05,108676.914946,6.520615e+05,2019-08-01 11:51:07.349383,2,7449,Trax,Trax,9.866474e+05,2019-08-01,0.07,45644.304277
21,3,254,ESQ,45130,0.00,0.874577,8,361040,4.528259e+04,0.000000,4.528259e+04,2019-08-01 11:51:07.349383,2,7449,ESQ,ESQ,3.157574e+05,2019-08-01,0.07,3169.781602
22,3,266,Wrangler Unlimited/Wrangler 4 door,31715,0.00,0.000000,10,317150,3.171500e+05,0.000000,3.171500e+05,2019-08-01 11:51:07.349383,2,7449,Wrangler Unlimited/Wrangler 4 door,Wrangler Unlimited/Wrangler 4 door,0.000000e+00,2019-08-01,0.07,22200.500000
23,3,296,MKC,7321,0.11,0.000000,7,51247,5.124700e+04,5637.170000,5.688417e+04,2019-08-01 11:51:07.349383,2,7449,MKC,MKC,0.000000e+00,2019-08-01,0.07,3981.891900
24,3,316,GLA-Class,12730,0.11,0.000000,33,420090,4.200900e+05,46209.900000,4.662999e+05,2019-08-01 11:51:07.349383,2,7449,GLA-Class,GLA-Class,0.000000e+00,2019-08-01,0.07,32640.993000
25,3,372,Kodiaq,19169,0.11,0.000000,17,325873,3.258730e+05,35846.030000,3.617190e+05,2019-08-01 11:51:07.349383,2,7449,Kodiaq,Kodiaq,0.000000e+00,2019-08-01,0.07,25320.332100
26,3,510,Deskjet 940c / 940cvr / 940cw / 940cxi,74671,0.00,0.000000,10,746710,7.467100e+05,0.000000,7.467100e+05,2019-08-01 11:51:07.349383,2,7449,Deskjet 940c / 940cvr / 940cw / 940cxi,Deskjet 940c / 940cvr / 940cw / 940cxi,0.000000e+00,2019-08-01,0.07,52269.700000
27,3,573,Deskjet All-in-one F4185,40081,0.00,0.000000,14,561134,5.611340e+05,0.000000,5.611340e+05,2019-08-01 11:51:07.349383,2,7449,Deskjet All-in-one F4185,Deskjet All-in-one F4185,0.000000e+00,2019-08-01,0.07,39279.380000
28,3,835,A388C (Accompli 388),97409,0.20,0.000000,50,4870450,4.870450e+06,974090.000000,5.844540e+06,2019-08-01 11:51:07.349383,2,7449,A388C (Accompli 388),A388C (Accompli 388),0.000000e+00,2019-08-01,0.07,409117.800000
29,3,843,A910/A910i,4415,0.11,0.000000,4,17660,1.766000e+04,1942.600000,1.960260e+04,2019-08-01 11:51:07.349383,2,7449,A910/A910i,A910/A910i,0.000000e+00,2019-08-01,0.07,1372.182000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,8,786,IBM 016,30552,0.11,0.000000,34,1038768,1.038768e+06,114264.480000,1.153032e+06,2019-08-01 19:23:48.749388,7,5080,IBM 016,IBM 016,0.000000e+00,2019-08-01,0.29,334379.419200
92,8,804,IBM 047,63533,0.20,0.000000,44,2795452,2.795452e+06,559090.400000,3.354542e+06,2019-08-01 19:23:48.749388,7,5080,IBM 047,IBM 047,0.000000e+00,2019-08-01,0.29,972817.296000
93,8,869,Canon IV SB,80122,0.11,0.082245,21,1682562,1.544180e+06,169859.847334,1.714040e+06,2019-08-01 19:23:48.749388,7,5080,Canon IV SB,Canon IV SB,1.383816e+05,2019-08-01,0.29,497071.680517
94,9,67,Alfa Romeo 430A,76083,0.11,0.000000,9,684747,6.847470e+05,75322.170000,7.600692e+05,2019-08-01 09:35:59.456757,2,3872,Alfa Romeo 430A,Alfa Romeo 430A,0.000000e+00,2019-08-01,0.07,53204.841900
95,9,115,Q2,82964,0.20,0.000000,35,2903740,2.903740e+06,580748.000000,3.484488e+06,2019-08-01 09:35:59.456757,2,3872,Q2,Q2,0.000000e+00,2019-08-01,0.07,243914.160000
96,9,182,Winstorm,5870,0.11,0.788029,3,17610,3.732804e+03,410.608397,4.143412e+03,2019-08-01 09:35:59.456757,2,3872,Winstorm,Winstorm,1.387720e+04,2019-08-01,0.07,290.038840
97,9,198,Panda 4x4,39818,0.11,0.000000,34,1353812,1.353812e+06,148919.320000,1.502731e+06,2019-08-01 09:35:59.456757,2,3872,Panda 4x4,Panda 4x4,0.000000e+00,2019-08-01,0.07,105191.192400
98,9,200,Explorer,19981,0.11,0.000000,34,679354,6.793540e+05,74728.940000,7.540829e+05,2019-08-01 09:35:59.456757,2,3872,Explorer,Explorer,0.000000e+00,2019-08-01,0.07,52785.805800
99,9,228,Santa Fe,57700,0.20,0.000000,50,2885000,2.885000e+06,577000.000000,3.462000e+06,2019-08-01 09:35:59.456757,2,3872,Santa Fe,Santa Fe,0.000000e+00,2019-08-01,0.07,242340.000000
100,9,230,Trax,37069,0.11,0.871290,33,1223277,1.574479e+05,17319.267922,1.747672e+05,2019-08-01 09:35:59.456757,2,3872,Trax,Trax,1.065829e+06,2019-08-01,0.07,12233.701069
101,9,239,Ridgeline,66716,0.11,0.000000,8,533728,5.337280e+05,58710.080000,5.924381e+05,2019-08-01 09:35:59.456757,2,3872,Ridgeline,Ridgeline,0.000000e+00,2019-08-01,0.07,41470.665600
102,9,303,Thar,27516,0.00,0.000000,17,467772,4.677720e+05,0.000000,4.677720e+05,2019-08-01 09:35:59.456757,2,3872,Thar,Thar,0.000000e+00,2019-08-01,0.07,32744.040000
103,9,359,Captur,91011,0.00,0.000000,1,91011,9.101100e+04,0.000000,9.101100e+04,2019-08-01 09:35:59.456757,2,3872,Captur,Captur,0.000000e+00,2019-08-01,0.07,6370.770000
104,9,396,Aria,81287,0.20,0.973157,27,2194749,5.891429e+04,11782.857365,7.069714e+04,2019-08-01 09:35:59.456757,2,3872,Aria,Aria,2.135835e+06,2019-08-01,0.07,4948.800093
105,9,480,Deskjet 697c,49444,0.11,0.000000,38,1878872,1.878872e+06,206675.920000,2.085548e+06,2019-08-01 09:35:59.456757,2,3872,Deskjet 697c,Deskjet 697c,0.000000e+00,2019-08-01,0.07,145988.354400
106,9,501,Deskjet 882c,37198,0.00,0.026321,18,669564,6.519403e+05,0.000000,6.519403e+05,2019-08-01 09:35:59.456757,2,3872,Deskjet 882c,Deskjet 882c,1.762372e+04,2019-08-01,0.07,45635.819378
107,9,539,Deskjet 3910 / 3915 / 3918 / 3920 / 3930 / 393...,53976,0.00,0.000000,14,755664,7.556640e+05,0.000000,7.556640e+05,2019-08-01 09:35:59.456757,2,3872,Deskjet 3910 / 3915 / 3918 / 3920 / 3930 / 393...,Deskjet 3910 / 3915 / 3918 / 3920 / 3930 / 393...,0.000000e+00,2019-08-01,0.07,52896.480000
108,9,567,Deskjet D2660,94925,0.20,0.000000,25,2373125,2.373125e+06,474625.000000,2.847750e+06,2019-08-01 09:35:59.456757,2,3872,Deskjet D2660,Deskjet D2660,0.000000e+00,2019-08-01,0.07,199342.500000
109,9,729,Photosmart C5180,12386,0.11,0.346218,27,334422,2.186390e+05,24050.285685,2.426892e+05,2019-08-01 09:35:59.456757,2,3872,Photosmart C5180,Photosmart C5180,1.157830e+05,2019-08-01,0.07,16988.247252
110,9,797,IBM 036,2425,0.11,0.000000,32,77600,7.760000e+04,8536.000000,8.613600e+04,2019-08-01 09:35:59.456757,2,3872,IBM 036,IBM 036,0.000000e+00,2019-08-01,0.07,6029.520000
111,9,799,IBM 040,42840,0.11,0.000000,29,1242360,1.242360e+06,136659.600000,1.379020e+06,2019-08-01 09:35:59.456757,2,3872,IBM 040,IBM 040,0.000000e+00,2019-08-01,0.07,96531.372000
112,9,823,MicroTAC Lite,96626,0.00,0.000000,1,96626,9.662600e+04,0.000000,9.662600e+04,2019-08-01 09:35:59.456757,2,3872,MicroTAC Lite,MicroTAC Lite,0.000000e+00,2019-08-01,0.07,6763.820000
113,10,154,CS35,46525,0.11,0.000000,24,1116600,1.116600e+06,122826.000000,1.239426e+06,2019-08-01 22:34:19.602495,2,4516,CS35,CS35,0.000000e+00,2019-08-01,0.07,86759.820000
114,10,272,Niro,61055,0.00,0.000000,44,2686420,2.686420e+06,0.000000,2.686420e+06,2019-08-01 22:34:19.602495,2,4516,Niro,Niro,0.000000e+00,2019-08-01,0.07,188049.400000
115,10,273,Seltos,55945,0.20,0.034555,2,111890,1.080237e+05,21604.736794,1.296284e+05,2019-08-01 22:34:19.602495,2,4516,Seltos,Seltos,3.866316e+03,2019-08-01,0.07,9073.989453
116,10,338,Rogue,29865,0.00,0.000000,32,955680,9.556800e+05,0.000000,9.556800e+05,2019-08-01 22:34:19.602495,2,4516,Rogue,Rogue,0.000000e+00,2019-08-01,0.07,66897.600000
117,10,379,Rexton,69124,0.20,0.000000,25,1728100,1.728100e+06,345620.000000,2.073720e+06,2019-08-01 22:34:19.602495,2,4516,Rexton,Rexton,0.000000e+00,2019-08-01,0.07,145160.400000
118,10,803,IBM 046,37057,0.11,0.000000,2,74114,7.411400e+04,8152.540000,8.226654e+04,2019-08-01 22:34:19.602495,2,4516,IBM 046,IBM 046,0.000000e+00,2019-08-01,0.07,5758.657800
119,10,839,A853 (MILESTONE),98414,0.00,0.000000,44,4330216,4.330216e+06,0.000000,4.330216e+06,2019-08-01 22:34:19.602495,2,4516,A853 (MILESTONE),A853 (MILESTONE),0.000000e+00,2019-08-01,0.07,303115.120000
120,10,871,Canon II F,55144,0.00,0.000000,33,1819752,1.819752e+06,0.000000,1.819752e+06,2019-08-01 22:34:19.602495,2,4516,Canon II F,Canon II F,0.000000e+00,2019-08-01,0.07,127382.640000

In [234]:
total_commissions_for_day = day_orders_commissions['commission_amount'].sum()
total_commissions_for_day

20833236.938148525

In [235]:
day_orders_commissions.loc[day_orders_commissions['order_id'] == 97, 'commission_amount'].mean()

nan

In [236]:
# 7. Average amount of commission per order
average_commissions = day_orders_commissions[['order_id','commission_amount']].groupby('order_id').mean().mean()
average_commissions[0], type(average_commissions[0])

(166299.43931740624, numpy.float64)

In [241]:
# 8. Total amount of commissions earned per promotion
commissions_per_promo = day_orders_commissions.merge(day_prod_promos, how='inner', left_on='product_id', right_on='product_id', suffixes=('','_promos'))
commissions_per_promo[['commission_amount', 'promotion_id', ]].groupby('promotion_id').sum()

              commission_amount
promotion_id
2                      188049.4
5                     1153804.8

In [245]:
commissions_check = day_orders_commissions.loc[day_orders_commissions['product_id'] == 272, 'commission_amount'].sum()
commissions_check

188049.40000000002

In [240]:
prods = pd.unique(day_orders_commissions['product_id']).tolist()
len(prods)
check_prods = day_prod_promos['product_id'].tolist()
check_prods
found = [cp for cp in check_prods if cp in prods]
found

[272, 835]